.NoteItem {
  background: #f7f6f6;
  padding: 1em;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NoteItem_text {
  flex: auto;
  text-align: left;
}

.NoteItem_icons {
  cursor: pointer;
  display: flex;
}
